<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ARQUINEA{% endblock %}</title>
        <link rel='icon' type='image/png' href="{{ asset('images/AN.png') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('webpack/css/sin_node.css') }}">
        {% endblock %}

        <style>
            .pagination>.page-item>.page-link{
                background-color: #232021;
                color:#e1cead;
            }

            .pagination>.disabled>.page-link{
                color:grey;
            }
            .pagination>.active>.page-link{
                background-color: #e1cead;
                color:#232021;
                border-color: #c29c69;
            }

            .pagination>.footable-page>.footable-page-link, .pagination>.footable-page-nav>.footable-page-link{
                background-color: #232021;
                color:#e1cead;
            }

            .footable .pagination > .disabled > a{
                background-color: #232021;
                color:grey;
            }

            .footable .pagination > .active > a, .footable .pagination > .active > span{
                background-color: #e1cead;
                color:#232021;
                border-color: #c29c69;
            }

            .boton-dorado{
                background-color: #e1cead;
            }

            .footable-filtering-search>.input-group>.input-group-btn>.btn-primary{
                background-color: #e1cead !important;
                border-color: #c29c69;
            }
        </style>

    </head>
    <body class="fondo-negro">
        <div class="banner d-flex justify-content-center align-items-center">
            <h1><big><big>
                ARQUINEA
            </big></big></h1>
        </div>
    	<nav class="navbar navbar-expand-lg navbar-light fondo-navbar">
		  <a class="navbar-brand" href="{{ path('index') }}">ARQUINEA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('index') }}"><i class="fas fa-home"></i> Inicio<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('obras') }}"><i class="fas fa-hotel"></i> Obras</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('documentos') }}"><i class="fas fa-file-signature"></i> Documentos</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('contactos') }}"><i class="fas fa-address-book"></i> Contacos</a>
		      </li>
		  </div>
		</nav>
		<div>
		</div>

        {% block body %}
        <div class="container container-normal bg-light">
            <hr>
            <div class="d-flex justify-content-center fondo-negro">
                <h2>
                    Ultimas Obras:
                </h2>
            </div>
            <hr>
            
            {# table body #}
            {% for publicacion in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    
                    <div class="d-flex justify-content-center">
                        <h2>
                            {{ publicacion.titulo }}
                        </h2>
                    </div>
                    <div class="d-flex justify-content-center">
                            <h2>
                            <img src="{{asset('obras/imagenes/'~publicacion.imagen)}}" class="img-fluid">
                            </h2>
                    </div>
                    <h4>
                        Arquitecto: {{ publicacion.arquitecto }}
                    </h4>
                    <p>
                        {% autoescape false %}
                            {{ publicacion.descripcion|striptags|slice(0, 300) }}...
                        {% endautoescape %}
                    </p>
                    <p>
                        <a class="btn btn-light boton-dorado float-right" href="{{ path('obra', {'id': publicacion.id}) }}">Seguir Leyendo</a>
                    </p>
                    <p>
                            <div class="fb-share-button" data-href="{{ absolute_url(path('obra', {'id': publicacion.id})) }}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ path('obra', {'id': publicacion.id}) }}%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                    </p>
                    <p>
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="{{ absolute_url(path('obra', {'id': publicacion.id})) }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </p>
                    <hr>
                </tr>
            {% endfor %}
            {# display navigation #}
            
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        {% endblock %}

        {% block footer %}
       	<div class="d-flex justify-content-center text-light fondo-negro">
       		<div>
	       		<div class="d-flex justify-content-center">
	       			<div>Pagina creada por Grupo de Desarrollo <a href="http://www.100monos.com">100monos</a></div>
	       		</div>
	       		<div>Wallpaper-in-black-and-gold <a href='https://www.freepik.com/free-vector/modern-mosaic-wallpaper-in-black-and-gold_3229638.htm'>Designed by Rawpixel.com</a></div>
	       	</div>
       	</div>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-git.js"></script>
        <script src="{{ asset('webpack/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('webpack/footable/compiled/footable.js') }}"></script>
        <script src="{{ asset('webpack/featherlight/release/featherlight.min.js') }}"></script>
        <script src="{{ asset('webpack/featherlight/release/featherlight.gallery.min.js') }}"></script>
        <script src="{{ asset('webpack/js/sin_node.js') }}"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
