{% extends "index.html.twig" %}

{% block title %}ARQUINEA: Obras{% endblock %}
        
        {% block body %}
        <div class="container bg-light container-normal">
            <hr>
            <div class="d-flex justify-content-center fondo-negro">
                <div class="text-center">
                    <h2>
                        {{ publicacion.titulo }}
                    </h2>
                    <h3>
                        {{ publicacion.arquitecto }}
                    </h3>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <img src="{{asset('obras/imagenes/'~publicacion.imagen)}}" class="img-fluid">
            </div>
                
                
                {% autoescape false %}
                        {{ publicacion.descripcion }}
                {% endautoescape %}
                
                
                <div>
                    <h4>
                        Galeria de Fotos:
                    </h4>
                    <div id="my-gallery-id"></div>
                    {% for imagen in publicacion.imagenes %}
                    <img src="{{asset('obras/imagenes/'~imagen.path)}}" class="img-fluid">
                    {% endfor %}
                </div>
                <p>
                    Facebook
                </p>
                <p>
                    Twitter
                </p>
                <hr>
        </div>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}